html {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  max-height: 700px;
}

body {
  background-color: rgb(20, 20, 22);  
  margin:0;
  max-width: 100%;
  overflow-x: hidden;
  
}

* {box-sizing: border-box;}


/* horizontal narbar */
.bg-img {
  /* The image used */
  background-image: url("../myPhotos/MOP2.jpg");

  min-height: 660px;
  max-width: 100%;

  /* Center and scale the image nicely */
  /* background-position: center; */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

ul#nav1{
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  position: relaitve;
  width: 100%;
  list-style-type: none;
  
  margin: 0;
  font-size: 15px;
  padding-top: 60px;
  padding-right: 60px;
  overflow: hidden;
  /* background-color: #333; */
}
li#nav1 {
  float: right;
}
li#name {
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 10px 16px;
  float: left;
}

li a#nav1 {
  display: block;
  color: white;
  background-color: transparent;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  
}

li a:hover:not(.active)#nav1 {
  transition: 1s; 
  -webkit-transition: 1s;
  opacity: 0.8;
  /* filter: alpha(opacity=12); */
  background-color: rgba(136, 135, 135, 0.548);

}

p#name {
  font-size: 40px;
}
div#messageBox {
  font-size: 25px;
  color: white;
  position: relative;
  left: 34%;
  margin-left: -66px;
  top: 95px;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  /* font-family:georgia,garamond,serif; */
  /* font-size:16px;font-style:italic; */
}


/* vertical navbar */
ul#nav2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: -90px;
  width: 40px;
  /* background-color: #f1f1f1; */
  position: relative;
  height: 126px;
  overflow: auto;
  background-color: white;
  opacity: 0.2;
}

li a#nav2 {
  display: block;
  color: #000;
  padding: 6px 5px;
  text-decoration: none;
}

li a.active#nav2 {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active)#nav2 {
  background-color: rgb(168, 168, 168);
  color: white;
  transition: 0.5s; 
  -webkit-transition: 0.5s;
}

.logos {
  width: 30px;
  height: 30px;
}

div#moveDown {
  top: 30px;
  text-align: left;
  position: relative;
  padding-left: 12px;
  color: white;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}
 img#downarrow {
  position: relative;
  top: -20px;
  left: 17px;
  width: 40px;
  height: 40px;
 }

div#about {
  position: relative;
  padding-top: 40px;
  padding-left: 30px;
  /* scroll-behavior: smooth; */
}

img#selfPhoto {
  width: 440px;
  /* height: 540px; */
  float: left;
  /* border-radius: 100px; */
}
p#statement {
  padding-top: 100px;
  padding-left: 70px;
  float: left;
  color: white;
  position: relative;
  /* padding: 60px 65px; */
  /* left: 500; */
  /* top: -450; */
  font-size: 24;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

p#creative1 {
  position: relative;
  text-align: center;
  padding-top: 50px;
  /* padding-bottom: 5px; */
  /* padding: 10px 10px; */
  clear: left;
  color: white;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

nav#footerNavBar {
  /* padding-top: 10px; */
  position: relative;
  background-color: white;
  text-align: center;
}

ul#footerNav {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  height: 58px;
  left: 28%;
  overflow: auto; 
}

li#footerNav {
  float: left;
}

li a#footerNav {
  
  display: block;
  color: black;
  text-align: center;
  padding: 14px 14px;
  font-size: 28;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

li a:hover:not(.active)#footerNav {
  background-color: rgb(99, 99, 99);
}

.active#footerNav {
  background-color: #4CAF50;
}

.logos2 {
  width: 30px;
  height: 30px;
}

 footer{
  position: relative;
  color: white;
  /* top: 20px; */
  /* top: -300px; */
  text-align: center;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
 }