body {
    background-color: black;
    max-width: 100%;
    margin: 0;
}

ul#nav1{
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    position: relaitve;
    /* width: 100%; */
    list-style-type: none;
    
    margin: 0;
    font-size: 15px;
    padding-top: 60px;
    padding-right: 50px;
    overflow: hidden;
    /* background-color: #333; */
  }
  li#nav1 {
    float: right;
  }
  li#name {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px 16px;
    float: left;
  }
  
  li a#nav1 {
    display: block;
    color: white;
    background-color: transparent;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    
  }
  
  li a:hover:not(.active)#nav1 {
    transition: 1s; 
    -webkit-transition: 1s;
    opacity: 0.8;
    /* filter: alpha(opacity=12); */
    background-color: rgba(136, 135, 135, 0.548);
  
  }

  /* header */
  h2 {
    color: white;
    text-align: center;
  }

  .paragraph {
    color: white;
    text-align: center;
  }


  .column {
      -ms-flex: 20%; /* IE 10 */
      flex: 20%;
      padding: 0 4px;
  }

  .column img {
      margin-top: 8px;
      vertical-align: middle;
  }
  .row {
      display: -ms-flexbox; /* IE 10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE 10 */
      flex-wrap: wrap;
      padding: 0 4px;
  }



/* footer */
nav#footerNavBar {
  top: 10px;
  position: relative;
  background-color: white;
  text-align: center;
}

ul#footerNav {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  height: 58px;
  left: 32%;
  overflow: auto; 
}

li#footerNav {
  float: left;
}

li a#footerNav {
  
  display: block;
  color: black;
  text-align: center;
  padding: 14px 14px;
  font-size: 28;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

li a:hover:not(.active)#footerNav {
  background-color: rgb(99, 99, 99);
}

.active#footerNav {
  background-color: #4CAF50;
}

.logos2 {
  width: 30px;
  height: 30px;
}