@media screen and (max-width: 650px) {
  #nav1{
    display: none
  }
  
  .mobile-container {
    max-width: 320px;
    margin: auto;
    background-color: blue;
    /* height: 500px; */
    color: white;
    border-radius: 10px;
  }

  body {
    background-color: rgb(20, 20, 22);
    max-width: 100%;
    margin: 0;
  }

  .topnav {
    overflow:hidden;
    background-color: #333;
    position: relative;
    width: 100%;
    transition: 0.5s;
  }

  .topnav #myLinks {
    display: none;
    transition: 0.5s;
  }

  .topnav a {
    color:white;
    padding: 14px 16px;
    
    font-size: 17px;
    display: block;
    font-size: 22;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    transition: 0.5s;
  }


  .topnav a.icon {
    /* background: green; */
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5s;
  }

  .topnav a#links:hover:not(.active)#links {
    background-color: #ddd; 
    color: white;
    transition: 1s; 
    -webkit-transition: 1s;
    opacity: 0.8;
    background-color: rgba(17, 17, 17, 0.548);
  }

  .active {
    /* background-color: #4CAF50; */
    background-color: grey;
    color:white;
    
  }
  h2 {
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  }

  .paragraph {
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  }


  .column {
      -ms-flex: 20%; /* IE 10 */
      flex: 20%;
      padding: 0 4px;
  }

  .column img {
      margin-top: 8px;
      vertical-align: middle;
  }
  .row {
      display: -ms-flexbox; /* IE 10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE 10 */
      flex-wrap: wrap;
      padding: 0 4px;
  }
  

  .logos2 {
    width: 30px;
    height: 30px;
  }

  #myDIV {
    /* border: solid 4px green; */
    background-color: white;
    /* left: 50%;
    position: relative; */
  }

  .nav{
    padding-right: 30px;
    list-style-type: none;
    text-align: center;
  }

  .nav li {
    display: inline-block;
    
    
    
  }

  .nav a {
    display: inline-block;
    padding: 10px;
    
    
    /* padding-right: 25px; */
  }

  .nav a:hover {
    background-color: rgb(99, 99, 99);
    transition: 0.5s; 
    -webkit-transition: 0.5s;
  }

  footer{
    position: relative;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
   }
}

















@media screen and (min-width: 651px) {
  .topnav {display: none;}
  

body {
    background-color: rgb(20, 20, 22);
    max-width: 100%;
    margin: 0;
}


/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  } */

ul#nav1{
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    position: relaitve;
    /* width: 100%; */
    list-style-type: none;
    
    margin: 0;
    font-size: 15px;
    padding-top: 60px;
    padding-right: 50px;
    overflow: hidden;
    font-size: 17px;
    /* background-color: #333; */
  }
  li#nav1 {
    float: right;
  }
  li#name {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px 16px;
    float: left;
  }
  
  li a#nav1 {
    display: block;
    color: white;
    background-color: transparent;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    
  }
  
  li a:hover:not(.active)#nav1 {
    transition: 1s; 
    -webkit-transition: 1s;
    opacity: 0.8;
    /* filter: alpha(opacity=12); */
    background-color: rgba(136, 135, 135, 0.548);
  
  }

  /* header */
  h2 {
    color: white;
    text-align: center;
    font-size: 26px;
  }

  .paragraph {
    color: white;
    text-align: center;
    font-size: 17px;
  }


  .column {
      -ms-flex: 20%; /* IE 10 */
      flex: 20%;
      padding: 0 4px;
  }

  .column img {
      margin-top: 8px;
      vertical-align: middle;
  }
  .row {
      display: -ms-flexbox; /* IE 10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE 10 */
      flex-wrap: wrap;
      padding: 0 4px;
  }



  #myDIV {
    /* border: solid 4px green; */
    background-color: white;
    /* left: 50%;
    position: relative; */
  }

  .nav{
    padding-right: 30px;
    list-style-type: none;
    text-align: center;
  }

  .nav li {
    display: inline-block;
    
    
    
  }

  .nav a {
    display: inline-block;
    padding: 10px;
    
    
    /* padding-right: 25px; */
  }

.nav a:hover {
  background-color: rgb(99, 99, 99);
  transition: 0.5s; 
  -webkit-transition: 0.5s;
}


footer{
  position: relative;
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
 }
}
